/* .buttonn:hover{
    background-color: #cbccdb;
    border-radius: 10px;
} */

.logo{
    margin-left: 41px;
    /* margin-top: 12px;
    margin-bottom: 12px; */
}
.navbg{
    background-color:black;
}
.navbarbtn{
    font-family: Avenir;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.16px;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    /* background: #1214FD; */
    border-radius: 0%;
}
.connectwalletbtn{
    background: #1214fd;
    color:'white';
    font-size: 14px;
    font-family: avenir;
    font-weight: 800;
}
.mtskmodal{
    height: 244px;
    width: 480px;
    background: #070f20;
}

@media(max-width: 480px){
    .mtmsk{
        width: 350px;
    }
}

@media(max-width: 762px){
    .headerdiv{
        margin-left: 60px;
    }
}

