.buttonn:hover{
    background-color: #cbccdb;
    border-radius: 10px;
}

.logo{
    margin-left: 41px;
    /* margin-top: 12px;
    margin-bottom: 12px; */
}
.navbg{
    background-color:#faf9f6;
}
.navbarbtn{
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    margin-left: 30px;
    padding: 5px;
    margin-right: 20px;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    /* background: #1214FD; */
    border-radius: 0%;
}
.connectwalletbtn{
    background: #06f;
    border: 1px, solid, #cbccdb;
    border-radius: 15px;
}

